# Project 1: SAT & ACT Analysis

The first markdown cell in a notebook is a great place to provide an overview of your entire project. You will likely want to at least state your

## Problem Statement

Define the problem you are finding answers for from the data given.

Answer: We aim to provide The College Board with actionable recommendations to help them improve the success of the SAT Test. We define success as improved State participation rates in the SAT Test.

## Executive Summary

The project seeks to identify trends or significant observations in SAT and ACT scores and participation rates across US between 2017-2018 through Exploratory Data Analysis and Data Visualizations. We will analyze these trends in order to identify any actionable insights from the data, and with support from external research, craft recommendations to The College Board to help them improve the success of the SAT Test.

### Contents:
- [2017-2018 Data Import & Cleaning](https://git.generalassemb.ly/chevalier88/DSI15-Clone/blob/master/project_1/code/1.2017_18_Import_Cleaning.ipynb)
- [Exploratory Data Analysis](https://git.generalassemb.ly/chevalier88/DSI15-Clone/blob/master/project_1/code/2.EDA.ipynb)
- [Data Visualization](https://git.generalassemb.ly/chevalier88/DSI15-Clone/blob/master/project_1/code/3.Data%20Visualization.ipynb)
- [Statistics, Outside Research, Findings & Recommendations](https://git.generalassemb.ly/chevalier88/DSI15-Clone/blob/master/project_1/code/4.Statistics%20and%20Findings.ipynb)

**If you combine your problem statement, executive summary, data dictionary, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.** Don't forget to cite your data sources!

*All libraries used should be added here*

In [1]:
#Imports - we import the following libraries to aid our Exploratory Data Analysis:

import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

#basic config and style commands for plotting graphs:
sns.set_style('whitegrid')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

## 2017 Data Import and Cleaning

#### 1. Read In SAT & ACT  Data

Read in the `sat_2017.csv` and `act_2017.csv` files and assign them to appropriately named pandas dataframes.

In [2]:
#printing working directory to find out file path to read csv files

!pwd

/Users/grahamlim/Documents/DSI15/lab_projects_copy/project_1/code

In [3]:
#we read the following .csv files for 2017 data:

sat_2017 = pd.read_csv('/Users/grahamlim/Documents/DSI15/lab_projects_copy/project_1/data/sat_2017.csv')
act_2017 = pd.read_csv('/Users/grahamlim/Documents/DSI15/lab_projects_copy/project_1/data/act_2017.csv')

#### 2. Display Data

Print the first 10 rows of each dataframe to your jupyter notebook

In [4]:
#Code:

sat_2017.head(10)

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,5%,593,572,1165
1,Alaska,38%,547,533,1080
2,Arizona,30%,563,553,1116
3,Arkansas,3%,614,594,1208
4,California,53%,531,524,1055
5,Colorado,11%,606,595,1201
6,Connecticut,100%,530,512,1041
7,Delaware,100%,503,492,996
8,District of Columbia,100%,482,468,950
9,Florida,83%,520,497,1017

In [5]:
#first 10 rows for ACT

act_2017.head(10)

,State,Participation,English,Math,Reading,Science,Composite
0,National,60%,20.3,20.7,21.4,21.0,21.0
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
5,California,31%,22.5,22.7,23.1,22.2,22.8
6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2

In [6]:
#testing relationship between composite and other scores for ACT

(20.3+20.7+21.4+21.0)/4

20.85

#### 3. Verbally Describe Data

Take your time looking through the data and thoroughly describe the data in the markdown cell below.

In [7]:
#Answer:

#using .info command to see some summary info

act_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          52 non-null     object
 1   Participation  52 non-null     object
 2   English        52 non-null     float64
 3   Math           52 non-null     float64
 4   Reading        52 non-null     float64
 5   Science        52 non-null     float64
 6   Composite      52 non-null     object
dtypes: float64(4), object(3)
memory usage: 3.0+ KB

In [8]:
sat_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               51 non-null     object
 1   Participation                       51 non-null     object
 2   Evidence-Based Reading and Writing  51 non-null     int64
 3   Math                                51 non-null     int64
 4   Total                               51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

ANSWER

sat_2017 involves SAT participation rates as well as scores in Math and Evidence-based Reading and Writing for all States in the US.
these are then added up to ge the Total SAT score.

act_2017 also displays participation rates, and has also got a Nationwide score on top of the State score. There are more subjects in the ACT exams: English, Math, Reading and Science, and the average of all 4 subjects returns the Composite score (source: https://www.studypoint.com/ed/act-scoring/).

#### 4a. Does the data look complete?

Answer: Yes it does - there appear to be no NaN or non-null objects; and all US states are in the set - indicating a complete dataset.

#### 4b. Are there any obvious issues with the observations?

**What is the minimum *possible* value for each test/subtest? What is the maximum *possible* value?**

Consider comparing any questionable values to the sources of your data:
- [SAT](https://blog.collegevine.com/here-are-the-average-sat-scores-by-state/)
- [ACT](https://blog.prepscholar.com/act-scores-by-state-averages-highs-and-lows)

In [9]:
act_2017.describe()

#minimum and maximum possible values for each score in the ACT correspond to min and max values as per below:

         English       Math    Reading    Science
count  52.000000  52.000000  52.000000  52.000000
mean   20.919231  21.173077  22.001923  21.040385
std     2.332132   1.963602   2.048672   3.151113
min    16.300000  18.000000  18.100000   2.300000
25%    19.000000  19.400000  20.475000  19.900000
50%    20.550000  20.900000  21.700000  21.150000
75%    23.300000  23.100000  24.125000  22.525000
max    25.500000  25.300000  26.000000  24.900000

In [10]:
sat_2017.describe()

#minimum and maximum possible values for each score in the SAT correspond to min and max values as per below:

       Evidence-Based Reading and Writing        Math        Total
count                           51.000000   51.000000    51.000000
mean                           569.117647  547.627451  1126.098039
std                             45.666901   84.909119    92.494812
min                            482.000000   52.000000   950.000000
25%                            533.500000  522.000000  1055.500000
50%                            559.000000  548.000000  1107.000000
75%                            613.000000  599.000000  1212.000000
max                            644.000000  651.000000  1295.000000

Answer: The Minimum score for SAT math appears incredibly low at only 52 out of a maximum possible score of 800. This is likely an error since the minimum SAT score is 200 (source: https://blog.prepscholar.com/whats-the-lowest-sat-score-possible-how-many-get-it). Similarly, the ACT science score also appears unusually low at only 2.3 and is speculated to also be in error.

#### 4c. Fix any errors you identified

**The data is available** so there's no need to guess or calculate anything. If you didn't find any errors, continue to the next step.

In [11]:
#correcting the unusually low "outliers" - we find from the source website that Maryland's actual Math score is not 52, but 524, 
#source:https://blog.collegevine.com/here-are-the-average-sat-scores-by-state/
#so I clean this: 

sat_2017.sort_values('Math', ascending=True)
sat_2017.iloc[20,[3]]= 524

sat_2017.iloc[20,[3]]

Math    524
Name: 20, dtype: object

In [12]:
#correcting the unusually low "outliers" - we find from another website that Maryland's actual Science score is not 2.3, but 23.1. 
#source:https://news.maryland.gov/msde/new-sat-sets-baseline-act-scores-rise-in-maryland/

act_2017.sort_values('Science', ascending=True)

,State,Participation,English,Math,Reading,Science,Composite
21,Maryland,28%,23.3,23.1,24.2,2.3,23.6
29,Nevada,100%,16.3,18.0,18.1,18.2,17.8
25,Mississippi,100%,18.2,18.1,18.8,18.8,18.6
41,South Carolina,100%,17.5,18.6,19.1,18.9,18.7
34,North Carolina,100%,17.8,19.3,19.6,19.3,19.1
12,Hawaii,90%,17.8,19.2,19.2,19.3,19.0
10,Florida,73%,19.0,19.4,21.0,19.4,19.8
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
37,Oklahoma,100%,18.5,18.8,20.1,19.6,19.4
19,Louisiana,100%,19.4,18.8,19.8,19.6,19.5
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
43,Tennessee,100%,19.5,19.2,20.1,19.9,19.8
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
32,New Mexico,66%,18.6,19.4,20.4,20.0,19.7
18,Kentucky,100%,19.6,19.4,20.5,20.1,20.0
49,West Virginia,69%,20.0,19.4,21.2,20.5,20.4
27,Montana,100%,19.0,20.2,21.0,20.5,20.3
26,Missouri,100%,19.8,19.9,20.8,20.5,20.4
45,Utah,100%,19.5,19.9,20.8,20.6,20.3
35,North Dakota,98%,19.0,20.4,20.5,20.6,20.3
51,Wyoming,100%,19.4,19.8,20.8,20.6,20.2x
50,Wisconsin,100%,19.7,20.4,20.6,20.9,20.5
6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
44,Texas,45%,19.5,20.7,21.1,20.9,20.7
0,National,60%,20.3,20.7,21.4,21.0,21.0
14,Illinois,93%,21.0,21.2,21.6,21.3,21.4
11,Georgia,55%,21.0,20.9,22.0,21.3,21.4
28,Nebraska,84%,20.9,20.9,21.9,21.5,21.4
24,Minnesota,100%,20.4,21.5,21.8,21.6,21.5
17,Kansas,73%,21.1,21.3,22.3,21.7,21.7
38,Oregon,40%,21.2,21.5,22.4,21.7,21.8
48,Washington,29%,20.9,21.9,22.1,22.0,21.9
42,South Dakota,80%,20.7,21.5,22.3,22.0,21.8
36,Ohio,75%,21.2,21.6,22.5,22.0,22.0
13,Idaho,38%,21.9,21.8,23.0,22.1,22.3
16,Iowa,67%,21.2,21.3,22.6,22.1,21.9
5,California,31%,22.5,22.7,23.1,22.2,22.8
15,Indiana,35%,22.0,22.4,23.2,22.3,22.6
31,New Jersey,34%,23.8,23.8,24.1,23.2,23.9
46,Vermont,29%,23.3,23.1,24.4,23.2,23.6
39,Pennsylvania,23%,23.4,23.4,24.2,23.3,23.7
40,Rhode Island,21%,24.0,23.3,24.7,23.4,24.0
9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2
47,Virginia,29%,23.5,23.3,24.6,23.5,23.8
8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
20,Maine,8%,24.2,24.0,24.8,23.7,24.3
23,Michigan,29%,24.1,23.7,24.5,23.8,24.1
33,New York,31%,23.8,24.0,24.6,23.9,24.2
7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
22,Massachusetts,29%,25.4,25.3,25.9,24.7,25.4
30,New Hampshire,18%,25.4,25.1,26.0,24.9,25.5

In [13]:
#so I clean this: 

act_2017['Science'][21]=23.1

act_2017['Science'][21]

/Users/grahamlim/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

23.1

#### 5. What are your data types? 
Display the data types of each feature.

In [14]:
print ([sat_2017.dtypes])

print ('\n') 

print ([act_2017.dtypes])

[State                                 object
Participation                         object
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object]


[State             object
Participation     object
English          float64
Math             float64
Reading          float64
Science          float64
Composite         object
dtype: object]

What did you learn?
- Do any of them seem odd?  
- Which ones are not as they should be?

Answer: For both tests, it would be helpful to change participation rates from "object" to an integer to reflect percentage participation. I would also convert the Composite column for the ACT into a float given that it is an aggregate number of the other Score floats.

#### 6. Fix Incorrect Data Types
Based on what you discovered above, use appropriate methods to re-type incorrectly typed data.
- Define a function that will allow you to convert participation rates to an appropriate numeric type. Use `map` or `apply` to change these columns in each dataframe.

In [15]:
#num_participation converts the unwanted percentage signs into integers, which we apply to the dataframes

def num_participation(dataframe, column = 'Participation'):
    dataframe[column] = dataframe[column].map(lambda x: x.replace('%',''))
    dataframe[column] = dataframe[column].map(lambda x: int(x))

In [16]:
num_participation(sat_2017)
num_participation(act_2017)

In [17]:
#check if participation rates are now integers, and they are:

print ([sat_2017.dtypes])

print ('\n') 

print ([act_2017.dtypes])

[State                                 object
Participation                          int64
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object]


[State             object
Participation      int64
English          float64
Math             float64
Reading          float64
Science          float64
Composite         object
dtype: object]

- Fix any individual values preventing other columns from being the appropriate type.

In [18]:
#we now try to turn Composite into an integer. Index 51 has an unwanted string value which amend

act_2017['Composite'][51]

'20.2x'

In [19]:
act_2017['Composite'][51]='20.2'

/Users/grahamlim/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

- Finish your data modifications by making sure the columns are now typed appropriately.

In [20]:
#we now finally turn ACT Composite into a float Column using in-built panda function to_numeric.

act_2017["Composite"] = pd.to_numeric(act_2017["Composite"], downcast="float")

- Display the data types again to confirm they are correct.

In [21]:
print ([sat_2017.dtypes])

print ('\n') 

print ([act_2017.dtypes])

#confirms all correct types

[State                                 object
Participation                          int64
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object]


[State             object
Participation      int64
English          float64
Math             float64
Reading          float64
Science          float64
Composite        float32
dtype: object]

#### 7. Rename Columns
Change the names of the columns to more expressive names so that you can tell the difference the SAT columns and the ACT columns. Your solution should map all column names being changed at once (no repeated singular name-changes). **We will be combining these data with some of the data from 2018, and so you should name columns in an appropriate way**.

**Guidelines**:
- Column names should be all lowercase (you will thank yourself when you start pushing data to SQL later in the course)
- Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`.
- Column names should be unique and informative (the only feature that we actually share between dataframes is the state).

In [22]:
#we will lower-case all the columns as well as append year and test type into the score columns

act_2017.columns

Index(['State', 'Participation', 'English', 'Math', 'Reading', 'Science',
       'Composite'],
      dtype='object')

In [23]:
act_2017.columns = act_2017.columns.map(lambda x: x.lower())

act_2017.columns

Index(['state', 'participation', 'english', 'math', 'reading', 'science',
       'composite'],
      dtype='object')

In [24]:
act_2017.rename(columns=lambda x: '2017_act_'+x, inplace=True)

In [25]:
act_2017.columns

Index(['2017_act_state', '2017_act_participation', '2017_act_english',
       '2017_act_math', '2017_act_reading', '2017_act_science',
       '2017_act_composite'],
      dtype='object')

In [26]:
#States remain constant so I rename this 
act_2017.rename(columns={'2017_act_state':'state'}, inplace=True)

In [27]:
act_2017.columns

Index(['state', '2017_act_participation', '2017_act_english', '2017_act_math',
       '2017_act_reading', '2017_act_science', '2017_act_composite'],
      dtype='object')

In [28]:
#We do the same thing for the SAT dataframe.

sat_2017.columns = sat_2017.columns.map(lambda x: x.lower())
sat_2017.rename(columns=lambda x: '2017_sat_'+x, inplace=True)

In [29]:
sat_2017.rename(columns={'2017_sat_state':'state'}, inplace=True)

In [30]:
sat_2017.columns

Index(['state', '2017_sat_participation',
       '2017_sat_evidence-based reading and writing', '2017_sat_math',
       '2017_sat_total'],
      dtype='object')

In [31]:
#looks better but the reading and writing column name is too long. changing this too:

sat_2017.rename(columns={'2017_sat_evidence-based reading and writing':'2017_sat_reading_writing'}, inplace=True)

In [32]:
sat_2017.columns

Index(['state', '2017_sat_participation', '2017_sat_reading_writing',
       '2017_sat_math', '2017_sat_total'],
      dtype='object')

In [33]:
sat_2017.head(3)

,state,2017_sat_participation,2017_sat_reading_writing,2017_sat_math,2017_sat_total
0,Alabama,5,593,572,1165
1,Alaska,38,547,533,1080
2,Arizona,30,563,553,1116

#### 8. Create a data dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

In [34]:
print(act_2017.columns)

print(sat_2017.columns)

Index(['state', '2017_act_participation', '2017_act_english', '2017_act_math',
       '2017_act_reading', '2017_act_science', '2017_act_composite'],
      dtype='object')
Index(['state', '2017_sat_participation', '2017_sat_reading_writing',
       '2017_sat_math', '2017_sat_total'],
      dtype='object')

## 2017 ACT and SAT Data Dictionary

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**state**|object|SAT+ACT|State|
|**2017_sat_participation**|integer|SAT|SAT Participation Rate (percentage) - per State in 2017|
|**2017_sat_reading_writing**|integer|SAT|SAT Reading and Writing mean score(range 200-800) - per State in 2017|
|**2017_sat_math**|integer|SAT|SAT math mean score(range 200-800)in 2017 per State in 2017|
|**2017_sat_total**|integer|SAT|Total SAT mean score (range 400-1600), 2017 per State in 2017|
|**2017_act_participation**|integer|ACT|ACT Participation Rate (percentage) - per State in 2017|
|**2017_act_english**|float|ACT|ACT English mean score (range 1-36) per State in 2017|
|**2017_act_math**|float|ACT|ACT Math mean score(range 1-36) per State in 2017|
|**2017_act_reading**|float|ACT|ACT Reading mean score(range 1-36) per State in 2017|
|**2017_act_science**|float|ACT|ACT Science mean score(range 1-36) per State in 2017|
|**2017_act_composite**|float|ACT|ACT Composite Score - average of individual subject scores (range 1-36) per State in 2017|

## For the full 2017-2018 Data Dictionary, please refer to my [README.md](https://git.generalassemb.ly/chevalier88/DSI15-Clone/blob/master/project_1/README.md)

#### 9. Drop unnecessary rows

One of our dataframes contains an extra row. Identify and remove this from the dataframe.

In [35]:
#row zero is redundant in ACT 2017

act_2017.loc[[0], :]

,state,2017_act_participation,2017_act_english,2017_act_math,2017_act_reading,2017_act_science,2017_act_composite
0,National,60,20.3,20.7,21.4,21.0,21.0

In [36]:
#this will drop the entire row:

act_2017.drop(0, inplace=True)

In [37]:
act_2017.head(3)

,state,2017_act_participation,2017_act_english,2017_act_math,2017_act_reading,2017_act_science,2017_act_composite
1,Alabama,100,18.9,18.4,19.7,19.4,19.200001
2,Alaska,65,18.7,19.8,20.4,19.9,19.799999
3,Arizona,62,18.6,19.8,20.1,19.8,19.700001

#### 10. Merge Dataframes

Join the 2017 ACT and SAT dataframes using the state in each dataframe as the key. Assign this to a new variable.

In [38]:
all_2017 = act_2017.merge(sat_2017, on = 'state')

#our new variable is 'all_2017' to merge both

In [39]:
all_2017.head()

,state,2017_act_participation,2017_act_english,2017_act_math,2017_act_reading,2017_act_science,2017_act_composite,2017_sat_participation,2017_sat_reading_writing,2017_sat_math,2017_sat_total
0,Alabama,100,18.9,18.4,19.7,19.4,19.200001,5,593,572,1165
1,Alaska,65,18.7,19.8,20.4,19.9,19.799999,38,547,533,1080
2,Arizona,62,18.6,19.8,20.1,19.8,19.700001,30,563,553,1116
3,Arkansas,100,18.9,19.0,19.7,19.5,19.400000,3,614,594,1208
4,California,31,22.5,22.7,23.1,22.2,22.799999,53,531,524,1055

#### 11. Save your cleaned, merged dataframe

Use a relative path to save out your data as `combined_2017.csv`.

In [40]:
pwd

'/Users/grahamlim/Documents/DSI15/lab_projects_copy/project_1/code'

In [41]:
#this will push output of all_2017 into my local directory:

all_2017.to_csv('/Users/grahamlim/Documents/DSI15/lab_projects_copy/project_1/data/all_2017.csv')

## 2018 Data Import and Cleaning

Links to the 2018 ACT and SAT data are provided in the README. These data live in PDFs, and so you'll get to enjoy practicing some *manual* data collection. Save these data as a CSV in your `data` directory, and import, explore, and clean these data in the same way you did above. **Make sure you comment on your steps so it is clear *why* you are doing each process**.

In [42]:
#checking what the directory contents are for 'data':

!pwd

/Users/grahamlim/Documents/DSI15/lab_projects_copy/project_1/code

In [43]:
cd /Users/grahamlim/Documents/DSI15/lab_projects_copy/project_1/data/

/Users/grahamlim/Documents/DSI15/lab_projects_copy/project_1/data

In [44]:
ls

act_2017.csv*         all_2017.csv          sat_2018.csv*
act_2018.csv*         final.csv
act_2018_updated.csv  sat_2017.csv*

In [45]:
#now will import and read the 2018 Data:

act_2018 = pd.read_csv('/Users/grahamlim/Documents/DSI15/lab_projects_copy/project_1/data/act_2018_updated.csv')
sat_2018 = pd.read_csv('/Users/grahamlim/Documents/DSI15/lab_projects_copy/project_1/data/sat_2018.csv')

In [46]:
#cleaning ACT 2018 Data - just like what we did for 2017

act_2018.head()

,State,Percentage of Students Tested,Average Composite Score,Average English Score,Average Math Score,Average Reading Score,Average Science Score
0,Alabama,100,19.1,18.9,18.3,19.6,19.0
1,Alaska,33,20.8,19.8,20.6,21.6,20.7
2,Arizona,66,19.2,18.2,19.4,19.5,19.2
3,Arkansas,100,19.4,19.1,18.9,19.7,19.4
4,California,27,22.7,22.5,22.5,23.0,22.1

In [47]:
act_2018.dtypes

#looks clean already as far as data types are concerned

State                             object
Percentage of Students Tested      int64
Average Composite Score          float64
Average English Score            float64
Average Math Score               float64
Average Reading Score            float64
Average Science Score            float64
dtype: object

In [48]:
act_2018.nunique()

#still looks ok

State                            51
Percentage of Students Tested    29
Average Composite Score          40
Average English Score            38
Average Math Score               37
Average Reading Score            38
Average Science Score            33
dtype: int64

In [49]:
#will proceed to rename columns just like before using our previously used code:

act_2018.columns = act_2018.columns.map(lambda x: x.lower())
act_2018.rename(columns=lambda x: '2018_act_'+x, inplace=True)

In [50]:
act_2018.head()

#not perfect - column names too long, will amend columns:

,2018_act_state,2018_act_percentage of students tested,2018_act_average composite score,2018_act_average english score,2018_act_average math score,2018_act_average reading score,2018_act_average science score
0,Alabama,100,19.1,18.9,18.3,19.6,19.0
1,Alaska,33,20.8,19.8,20.6,21.6,20.7
2,Arizona,66,19.2,18.2,19.4,19.5,19.2
3,Arkansas,100,19.4,19.1,18.9,19.7,19.4
4,California,27,22.7,22.5,22.5,23.0,22.1

In [51]:
act_2018.rename(columns={'2018_act_state':'state'}, inplace=True)

#fixing the state column name, followed by simplifying the ACT 2018 column names generally

In [52]:
act_2018.rename(columns={
    '2018_act_percentage of students tested':'act_participation_18',
    '2018_act_average english score':'act_english_18',
    '2018_act_average math score':'act_math_18',
    '2018_act_average reading score	':'act_reading_18',
    '2018_act_average science score':'act_science_18',
    '2018_act_average composite score':'act_composite_18'
},inplace=True)

In [56]:
#forgot to make it comply with our 2017 ACT column name format, formatting again:

act_2018.rename(columns={
    'act_participation_18':'2018_act_participation' ,
    'act_english_18':'2018_act_english',
    'act_math_18':'2018_act_math',
    'act_reading_18':'2018_act_reading',
    'act_science_18':'2018_act_science',
    'act_composite_18':'2018_act_composite'
},inplace = True)

In [57]:
act_2018.columns

#looks consistent now

Index(['state', '2018_act_participation', '2018_act_composite',
       '2018_act_english', '2018_act_math', '2018_act_average reading score',
       '2018_act_science'],
      dtype='object')

In [58]:
#trying to clean the reading score for 2018 ACT:

act_2018.rename(columns={'2018_act_average reading score':'2018_act_reading'}, inplace=True)

In [59]:
act_2018.columns

Index(['state', '2018_act_participation', '2018_act_composite',
       '2018_act_english', '2018_act_math', '2018_act_reading',
       '2018_act_science'],
      dtype='object')

In [60]:
#checking to clean SAT 2018 now:

sat_2018.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            6%                                 595   571   1166
1      Alaska           43%                                 562   544   1106
2     Arizona           29%                                 577   572   1149
3    Arkansas            5%                                 592   576   1169
4  California           60%                                 540   536   1076

In [61]:
sat_2018.dtypes

#our old problem of participation not being a number again.

State                                 object
Participation                         object
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

In [62]:
#Will call our old participation type converter function.

num_participation(sat_2018)

In [63]:
sat_2018.dtypes

#converter still works

State                                 object
Participation                          int64
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

In [64]:
#column renaming once again - rinsing and repeating from above code

sat_2018.columns = sat_2018.columns.map(lambda x: x.lower())
sat_2018.rename(columns=lambda x: '2018_sat_'+x, inplace=True)

In [65]:
sat_2018.rename(columns={'2018_sat_state':'state'}, inplace=True)

#fixing the state column name again

In [66]:
sat_2018.head()

#almost clean again - 2018 reading and writing column too long again.

,state,2018_sat_participation,2018_sat_evidence-based reading and writing,2018_sat_math,2018_sat_total
0,Alabama,6,595,571,1166
1,Alaska,43,562,544,1106
2,Arizona,29,577,572,1149
3,Arkansas,5,592,576,1169
4,California,60,540,536,1076

In [67]:
#reminding myself ideal 2017 SAT columns appearance:

sat_2017.columns

Index(['state', '2017_sat_participation', '2017_sat_reading_writing',
       '2017_sat_math', '2017_sat_total'],
      dtype='object')

In [68]:
#amending that reading and writing column:

sat_2018.rename(columns={'2018_sat_evidence-based reading and writing':'2018_sat_reading_writing'}, inplace=True)

In [69]:
sat_2018.columns

Index(['state', '2018_sat_participation', '2018_sat_reading_writing',
       '2018_sat_math', '2018_sat_total'],
      dtype='object')

In [70]:
#comparing columns with sat_2017 for uniformity:

print(sat_2018.columns)

print(sat_2017.columns)

Index(['state', '2018_sat_participation', '2018_sat_reading_writing',
       '2018_sat_math', '2018_sat_total'],
      dtype='object')
Index(['state', '2017_sat_participation', '2017_sat_reading_writing',
       '2017_sat_math', '2017_sat_total'],
      dtype='object')

#### Combine your 2017 and 2018 data into a single dataframe
Joining on state names should work, assuming you formatted all your state names identically. Make sure none of your columns (other than state) have identical names. Do yourself a favor and decide if you're encoding participation rates as floats or integers and standardize this across your datasets.

Save the contents of this merged dataframe as `final.csv`.

**Use this combined dataframe for the remainder of the project**.

In [71]:
#our 2017 data was already defined as all_2017.

all_2017.head()

,state,2017_act_participation,2017_act_english,2017_act_math,2017_act_reading,2017_act_science,2017_act_composite,2017_sat_participation,2017_sat_reading_writing,2017_sat_math,2017_sat_total
0,Alabama,100,18.9,18.4,19.7,19.4,19.200001,5,593,572,1165
1,Alaska,65,18.7,19.8,20.4,19.9,19.799999,38,547,533,1080
2,Arizona,62,18.6,19.8,20.1,19.8,19.700001,30,563,553,1116
3,Arkansas,100,18.9,19.0,19.7,19.5,19.400000,3,614,594,1208
4,California,31,22.5,22.7,23.1,22.2,22.799999,53,531,524,1055

In [72]:
#using merge command to combine our 2018 dataframes into all_2017, starting with merging act_2018 first:

merge1 = all_2017.merge(act_2018, on='state')

#followed by merging sat_2018:

merge2 = merge1.merge(sat_2018, on='state')

In [73]:
#checking if the merge worked and all the right columns visible:

merge2.columns

Index(['state', '2017_act_participation', '2017_act_english', '2017_act_math',
       '2017_act_reading', '2017_act_science', '2017_act_composite',
       '2017_sat_participation', '2017_sat_reading_writing', '2017_sat_math',
       '2017_sat_total', '2018_act_participation', '2018_act_composite',
       '2018_act_english', '2018_act_math', '2018_act_reading',
       '2018_act_science', '2018_sat_participation',
       '2018_sat_reading_writing', '2018_sat_math', '2018_sat_total'],
      dtype='object')

In [74]:
#yes, all is in order. exporting the new csv file 'final.csv'.

merge2.to_csv('/Users/grahamlim/Documents/DSI15/lab_projects_copy/project_1/data/final.csv')